article {
  clear: both;
  color: $medium-grey;
  // padding: 0 rhythm(2);
  // @include trailer(3);
  p { font-size: ms(1); }
  strong { font-weight: normal; }

  // TABLET

  @include breakpoint($tablet) {
    margin: 0;
    // @include trailer(3);
    p {
      font-family: $custom-font-light, $default-font-family;
      font-size: ms(5);
    }
  }

  // DESKTOP

  @include breakpoint($desktop) {
    box-sizing: border-box;
    margin: 0 auto 0 225px;
    // padding: rhythm(9) rhythm(4) rhythm(3);
    p {
      font-size: ms(6);
      width: 70%;
    }
  }

  // WIDESCREEN

  @include breakpoint($widescreen) {
    p { font-size: ms(8); }
  }
}
