footer {
  .wrapper { background-color: $off-white; }
  .elsewhere-list {
    @include layout-constraints;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 2rem 1rem;
    a {
      display: block;
      opacity: .75;
      padding: 1rem;
    //   &:hover { opacity: .8; }
    //   &:active { opacity: 1; }
    }
  }
  .copyright {
    color: $grey-5;
    font-weight: 500;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  @include breakpoint($breakpoint-tablet) {
    .elsewhere-list {
      padding: 3rem 0;
    }
    .copyright { padding: 2rem; }
  }

  @include breakpoint($breakpoint-desktop) {
    .elsewhere-list {
      padding: 4rem 0;
    }
  }

  @include breakpoint($breakpoint-desktop) {
    .elsewhere-list {
      padding: 5rem 0;
    }
  }
}
