@use '../framework' as *;

footer {
  .wrapper {
    background-color: color-token('neutral', 50);
    @include dark-mode { background-color: color-token('neutral', 800); }
  }
  .elsewhere-list {
    @include layout-constraints;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 auto !important;
    padding: 2rem;
    a {
      display: block;
      height: 2rem;
      opacity: .48;
      width: 2rem;
      @include dark-mode {
        background-color: color-token('neutral', 50);
        opacity: .56;
      }
      &:hover { opacity: 1; }
    }
  }
  .copyright {
    color: color-token('neutral', 200);
    font-weight: 400;
    margin: 1rem 0;
    text-align: center;
    @include dark-mode { color: color-token('neutral', 700); }
  }

  @include breakpoint($breakpoint-tablet) {
    .elsewhere-list {
      padding: 3rem 4rem;
      a {
        height: 3rem;
        width: 3rem;
      }
    }
  }

  @include breakpoint($breakpoint-desktop) {
    .elsewhere-list {
      padding: 4rem 8rem;
      a {
        height: 4.5rem;
        transition: transform .2s;
        width: 4.5rem;
        &:hover { transform: translateY(-.25rem); }
      }
    }
    .copyright {
      font-size: 1.2rem;
      margin: 2rem 0;
    }
  }
}
