header {
  .wrapper {
    @include layout-constraints;
    padding: 0 1rem 1rem 1rem;
  }
  h2 {
    a { text-decoration: none; }
    span { display: table; }
  }

  @include breakpoint($breakpoint-tablet) {
    padding-bottom: 2rem;
  }

  @include breakpoint($breakpoint-desktop) {
    padding-bottom: 4rem;
  }

  @include breakpoint($breakpoint-desktop) {
    padding-bottom: 6rem;
  }
}
