body { padding-top: 64px; }

.introduction {
  margin: 0 auto;
  max-width: 1200px;
}

.content, .cta {
  margin: 0 auto;
  max-width: 800px;
}

.hero {
  margin: 0 auto;
  max-width: 1200px;
  img { display: block; }
}