nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  .monogram {
    height: 42px;
    width: auto;
    .monogram-m, .monogram-a { fill: $grey-1; }
  }
  .menu {
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
    a {
      font-weight: 600;
      text-decoration: none;
      &.selected { opacity: .5; }
    }
  }
}
