@use "sass:color";
@use '../framework' as *;

.nav-site {
  @include layout-constraints;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  &::before, &::after {
    content: '';
    inset: 0;
    position: absolute;
  }
  &::before {
    background: linear-gradient(in oklab to bottom,
      rgba(color-token('neutral', 900), .98),
      rgba(color-token('neutral', 900), .97) 8%,
      rgba(color-token('neutral', 900), .95) 16%,
      rgba(color-token('neutral', 900), .92) 24%,
      rgba(color-token('neutral', 900), .88) 32%,
      rgba(color-token('neutral', 900), .84) 40%,
      rgba(color-token('neutral', 900), .8) 48%,
      rgba(color-token('neutral', 900), .74) 53%,
      rgba(color-token('neutral', 900), .64) 59%,
      rgba(color-token('neutral', 900), .5) 66%,
      rgba(color-token('neutral', 900), .36) 73%,
      rgba(color-token('neutral', 900), .23) 80%,
      rgba(color-token('neutral', 900), .13) 87%,
      rgba(color-token('neutral', 900), .05) 93%,
      rgba(color-token('neutral', 900), .01) 97%,
      transparent 100%
    );
    z-index: -1;
  }
  &::after {
    backdrop-filter: blur(80px);
    mask-image: linear-gradient(to bottom, black 56%, transparent);
    z-index: -2;
  }
  .monogram {
    margin-left: -1rem;
    img {
      display: block;
      height: 3rem;
      pointer-events: none;
      width: auto;
    }
    h1 { @extend %hidden; }
  }
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0 -1rem 0 0;
    padding: 0;
    a {
      color: color-token('neutral', 300);
      font-size: .833rem;
      font-weight: 700;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      @include dark-mode { color: color-token('neutral', 600); }
      &::after {
        background: color.adjust(color-token('brand'), $alpha: -0.8);
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
      }
      &:hover:not(.selected) {
        color: color-token('neutral', 700);
        @include dark-mode { color: color-token('neutral', 200); }
      }
      &.selected {
        color: color-token('brand');
        pointer-events: none;
      }
    }
  }
  a {
    display: block;
    padding: 1rem;
  }
  @include breakpoint($breakpoint-tablet) {
    .monogram {
      img { height: 4rem; }
    }
    .menu {
      a {
        &::after { height: 4px; }
      }
    }
  }
  @include breakpoint($breakpoint-desktop) {
    .menu {
      a {
        font-size: 1rem;
        &:hover:not(.selected) {
          &::after {
            opacity: 1;
            transform: translateY(2px);
          }
        }
        &::after {
          transition-duration: .2s;
          transition-property: opacity, transform;
          transform: translateY(6px);
        }
      }
    }
  }
}
