nav {
  .layout {
    @extend %layout;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .monogram {
    margin-left: -1rem;
    svg {
      display: block;
      height: 3rem;
      width: auto;
      .monogram-m, .monogram-a { fill: $grey-1; }
    }
  }
  .menu {
    list-style-type: none;
    margin: 0 -1rem 0 0;
    padding: 0;
    text-transform: uppercase;
    a {
      font-weight: 600;
      text-decoration: none;
      &.selected { opacity: .5; }
    }
  }
  a {
    display: block;
    padding: 1rem;
  }
}
