.nav-projects {
  background: repeating-linear-gradient(-45deg, transparent, transparent 2px, $off-white 2px, $off-white 4px);
  padding: 1rem .5rem;
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      flex: 0 1 50%;
      margin: 0 .5rem;
    }
    a {
      background: white;
      border: 2px solid $off-white;
      color: $grey-5;
      display: block;
      font-size: ms(0);
      font-weight: 700;
      padding: 1rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}