// Styles for http://matthew-anderson.com

@import 'compass';
@import 'compass/reset';
@import 'susy';
@import 'framework/*';
@import 'plugins/*';

@include establish-baseline;

body {
  font-family: $default-font;
  color: $body-color;
}

a {
  color: $body-color;
  font-weight: bold;
  text-decoration: none;
  @include transition;
  &:hover { color: #06c; }
}

.wrapper {
  // @include susy-grid-background;
  @include container($total-columns, $tablet-break, $desktop-break, $widescreen-break);
}

.monogram {
  @include adjust-leading-to(2);
  background: url('../images/monogram_rev.png') no-repeat;
  @include leader(2);
  text-indent: -9999px;
  @include trailer(2);
}

.work { display: none; }

article {
  @include padding-trailer(2);
  p {
    font-weight: 300;
  }
  strong { color: $dark-grey; }
}

.flexslider { margin: 0 0 - $grid-padding; }

aside {
  h1 {
    @include adjust-leading-to(2);
    color: $dark-grey;
  }
  p { @include trailer; }
}

.button {
  @include adjust-font-size-to(13px);
  border: 1px solid rgba(0, 0, 0, .05);
  @include border-radius(4px);
  color: #aaa;
  padding: 9px 13px;
  @include text-shadow(0 1px #fff);
  @include transition(none);
  &:hover {
    background-color: rgba(0, 0, 0, .025);
    color: #777;
  }
  &:active {
    border-color: rgba(0, 0, 0, .15);
    @include box-shadow(inset 0 0 3px rgba(0, 0, 0, .15));
  }
}

@include at-breakpoint($tablet-break) {
  // .wrapper { @include susy-grid-background; }
  section {
    @include span-columns(8 omega, $tablet-columns);
  }
  .flexslider {
    @include span-columns(5, 8);
    width: columns(5, 8) + (columns(5, 8) / 20);
  }
  aside {
    @include span-columns(3 omega, 8);
    h1 {
      @include adjust-leading-to(2);
      color: $dark-grey;
    }
  }

}

@include at-breakpoint($desktop-break) {
  // .wrapper { @include susy-grid-background; }
  .menu {
    @include span-columns(2, $desktop-columns);
    position: fixed;
    ul { display: block; }
  }
  article {
    background-color: rgba(0, 0, 0, .05);
    @include padding-leader(6);
    @include push(2, $desktop-columns);
    @include span-columns(7, $desktop-columns);
    text-shadow: 0 1px rgba(255, 255, 255, .8);
    p {
      @include adjust-font-size-to(21px, 1.6);
      padding: 0 $grid-padding;
    }
  }
  section {
    // @include padding-leader(2);
    @include span-columns(10 omega, $desktop-columns);
  }
  .flexslider {
    margin-left: auto;
    @include span-columns(7, 10);
  }
  aside { @include span-columns(3 omega, 10); }
  footer {
    background-color: rgba(0, 0, 0, .05);
    @include push(2, $desktop-columns);
    @include span-columns(7, $desktop-columns);
    p { padding: $grid-padding; }
  }
}

@include at-breakpoint(1280px $desktop-columns) {
  article p { @include adjust-font-size-to(22px); }
}

@include at-breakpoint($widescreen-break) {
  .wrapper {
    // @include susy-grid-background;
    max-width: 1600px;
  }
  .menu { @include span-columns(2, $widescreen-columns); }
  article {
    @include push(2, $widescreen-columns);
    @include span-columns(11, $widescreen-columns);
    p { @include adjust-font-size-to($base-font-size * 2); }
  }
  section { @include span-columns(14 omega, $widescreen-columns); }
  .flexslider { @include span-columns(11, 14); }
  aside { @include span-columns(3 omega, 14); }
  footer {
    @include push(2, $widescreen-columns);
    @include span-columns(11, $widescreen-columns);
  }
}