// Styles for http://matthew-anderson.com

@import 'framework/all';
@import 'plugins/flexslider';
@include establish-baseline;

body {
  font-family: $default-font;
  color: $body-color;
}

a {
  color: $body-color;
  font-weight: bold;
  text-decoration: none;
  @include transition;
  &:hover { color: #06c; }
}

.wrapper {
  // @include susy-grid-background;
  @include container($total-columns, $desktop-break, $widescreen-break);
}

.monogram {
  @include adjust-leading-to(2);
  background: url('../images/monogram_rev.png') no-repeat;
  @include leader(2);
  text-indent: -9999px;
  @include trailer(2);
}

.work { display: none; }

article {
  @include padding-trailer(2);
  p { font-weight: 300; }
  strong { color: $dark-grey; }
}

.flexslider { margin: 0 0 - $grid-padding; }

aside {
  h1 {
    @include adjust-leading-to(2);
    color: $dark-grey;
  }
}

@include at-breakpoint($desktop-break) {
  // .wrapper { @include susy-grid-background; }
  .menu {
    @include span-columns(2, $desktop-columns);
    position: fixed;
    ul { display: block; }
  }
  section {
    // @include padding-leader(2);
    @include span-columns(10 omega, $desktop-columns);
  }
  article, .flexslider { @include span-columns(7, 10); }
  article {
    @include padding-leader(6);
    p { padding: 0 $grid-padding; }
  }
  .flexslider { margin-left: auto;}
  aside {
    @include span-columns(3 omega, 10);
    h1 {
      @include adjust-leading-to(2);
      color: $dark-grey;
    }
  }
}

@include at-breakpoint($widescreen-break) {
  .wrapper {
    // @include susy-grid-background;
    max-width: 1600px;
  }
  article {
    background-color: rgba(0, 0, 0, .025);
    @include push(2);
    @include span-columns(11, $widescreen-columns);
    p {
      @include adjust-font-size-to($base-font-size * 2, 1);
    }
  }

  section { @include span-columns(14 omega, $widescreen-columns); }
  .flexslider { @include span-columns(11, 14); }
  aside { @include span-columns(3 omega, 14); }
}