// Styles for http://matthew-anderson.com

@import 'framework/all';
@import 'plugins/camera';

@include establish-baseline;

body {
  font-family: $default-font;
}

.wrapper {
  @include susy-grid-background;
  @include container;
}

nav {
  @include leader;
  @include span-columns(2);
  position: fixed;
  h1 {
    @include adjust-leading-to(4);
    background-color: #eee;
  }
}

section {
  @include leader;
  @include span-columns(10 omega);
  .slides {
    @include span-columns(7, 10);
  }
  aside { @include span-columns(3 omega, 10); }
}