article {
  clear: both;
  color: $medium-grey;
  padding: 0 rhythm(2);
  @include trailer(3);
  p { @include adjust-font-size-to(ms(1)); }
  strong { font-weight: normal; }

  // TABLET

  @include breakpoint($tablet) {
    margin: 0;
    @include trailer(3);
    p {
      @include adjust-font-size-to(ms(5));
      font-family: $custom-font-light, $default-font;
    }
  }

  // DESKTOP

  @include breakpoint($desktop) {
    box-sizing: border-box;
    margin: 0 auto 0 225px;
    padding: rhythm(9) rhythm(4) rhythm(3);
    p {
      @include adjust-font-size-to(ms(6));
      width: 70%;
    }
  }
}
