aside {
  padding: rhythm(3.5) rhythm(2) rhythm(1.5) rhythm(2);
  h1 {
    @include adjust-font-size-to(ms(2));
    color: $dark-grey;
    font-family: $custom-font-regular, $default-font;
  }
  .button { display: none; }
}