aside {
  box-sizing: border-box;
  padding: rhythm(3.5) rhythm(2) rhythm(1) rhythm(2);
  h1 {
    @include adjust-font-size-to(ms(2));
    color: $darkest-grey;
    font-family: $custom-font-regular, $default-font;
  }
  p { @include adjust-font-size-to(ms(0)); }

  // TABLET

  @include breakpoint($tablet) {
    padding: rhythm(1) rhythm(2) 0 rhythm(2);
    width: 25%;
    h1 { @include adjust-leading-to(2); }
  }

  // DESKTOP

  @include breakpoint($desktop) {
    h1 { @include adjust-font-size-to(ms(3)); }
    p { @include adjust-font-size-to(ms(1)); }
    .button { display: inline-block; }
  }
}
