.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

// TABLET

@include breakpoint($tablet) {
  section {
    display: flex;
    @include trailer(4);
    padding: 0 rhythm(2);
  }
}

// DESKTOP

@include breakpoint($desktop) {
  section {
    margin-left: 200px;
    padding: 0;
  }
}
