.menu { padding: 0 rhythm(2); }

.monogram {
  display: block;
  @include leader(3);
  @include trailer(3);
  h1 {
    background: url('../images/monogram.png') no-repeat;
    background-size: auto 50px;
    @include adjust-leading-to(2);
    text-indent: -9999px;
    height: 50px;
  }
}

.projects {
  @extend %hidden;
  list-style-type: none;
  padding: 0;
  a {
    color: $light-grey;
    font-family: $custom-font-regular, $default-font;
    &:hover { color: $primary; }
  }
}

// DESKTOP

@include breakpoint($desktop) {
  .menu {
    box-sizing: border-box;
    padding: 0 rhythm(2);
    position: fixed;
    top: 0;
    width: 225px;
  }

  .projects { display: initial; }
}

// WIDESCREEN

@include breakpoint($widescreen) {
  .projects {
    a { @include adjust-font-size-to(18px, 2); }
  }
}
