.menu { padding: 0 rhythm(2); }

.monogram {
  display: block;
  @include leader(3);
  @include trailer(3);
  h1 {
    background: url('../images/monogram.png') no-repeat;
    background-size: auto 50px;
    @include adjust-leading-to(2);
    text-indent: -9999px;
    height: 50px;
  }
}

.work {
  display: none;
  a {
    @include adjust-font-size-to(17px);
    font-family: $custom-font-regular, $default-font;
  }
}