$default-font: 'Helvetica Neue', Arial, sans-serif;

// MODULAR SCALE
// 14px 16px 20px 23px 28px 32px 40px 45px 56px 64px 79px

// $ms-base: 14px 16px;
// $ms-ratio: $augmented-fourth;

// @debug ms-list(0, 10, $ms-base, $ms-ratio);

// VERTICAL RHYTHM

// $base-font-size: ms(1);
// $base-line-height: $base-font-size * 1.5;
// $rhythm-unit: "rem";
// $round-to-nearest-half-line: true;
// @include establish-baseline;

//

body {
  color: $default-grey;
  font-family: $default-font;
  text-rendering: optimizeSpeed;
}

.nowrap { white-space: nowrap; }