// Variables for colors, sizes and mixins.
//
// No styleguide reference.

// COLORS

$body-color: #888;
$dark-grey: #444;


// GRID

$relative-font-sizing: false;
$base-font-size: 15px;
$base-line-height: 25px;
$container-style: fluid;
// $total-columns: 1;
$column-width: 4em;
$gutter-width: 2em;
$grid-padding: $gutter-width;
$break-small: 768px;

$desktop-columns: 12;
$desktop-break: 1024px $desktop-columns;
$widescreen-columns: 16;
$widescreen-break: 1280px $widescreen-columns;

// COMPASS

$legacy-support-for-ie6: false;
$default-border-radius: 3px;
$default-text-shadow-v-offset: -1px;
$default-transition-duration: .25s;