// Variables for colors, sizes and mixins.
//
// No styleguide reference.

// COLORS

$dark-grey: #444;
$medium-grey: #777;
$default-grey: #999;
$light-grey: #bbb;
$off-white: #f6f6f6;
$primary: #096;

// GRID

$base-font-size: 15px;
$base-line-height: 25px;
$container-style: fluid;
$total-columns: 4;
$column-width: 4em;
$gutter-width: 2em;
$grid-padding: $gutter-width;

// BREAKPOINTS

$mobile-break: 480px;
$tablet-columns: 8;
$tablet-break: 768px;
$desktop-columns: 12;
$desktop-break: 1025px;
$widescreen-columns: 16;
$widescreen-break: 1440px;

// COMPASS

$legacy-support-for-ie6: false;
$default-border-radius: 3px;
$default-text-shadow-v-offset: -1px;
$default-transition-duration: .1s;