<footer>
  <div class="wrapper">
    <ul class="elsewhere-list">
      <li><a href="https://www.linkedin.com/in/matthewanderson" class="icon icon-linkedin" target="_blank" rel="noreferrer">LinkedIn</a></li>
      <li><a href="http://dribbble.com/wanderingmatt" class="icon icon-dribbble" target="_blank" rel="noreferrer">Dribbble</a></li>
      <li><a href="https://open.spotify.com/user/wanderingmatt" class="icon icon-spotify" target="_blank" rel="noreferrer">Spotify</a></li>
      <li><a href="https://github.com/wanderingmatt" class="icon icon-github" target="_blank" rel="noreferrer">GitHub</a></li>
      <li><a href="https://bsky.app/profile/wanderingmatt.com" class="icon icon-bluesky" target="_blank" rel="noreferrer">Bluesky</a></li>
    </ul>
  </div>
  <p class="copyright"><strong>&copy;</strong> <span class="year">Current Year</span></p>
</footer>
<script type="module" src="/src/javascripts/scripts.js"></script>