<footer>
  <div class="wrapper">
    <ul class="elsewhere-list">
      <li><a href="https://www.linkedin.com/in/matthewanderson/"><span class="icon icon-linkedin">LinkedIn</span></a></li>
      <li><a href="http://twitter.com/wanderingmatt/"><span class="icon icon-twitter">Twitter</span></a></li>
      <li><a href="http://dribbble.com/WanderingMatt/"><span class="icon icon-dribbble">Dribbble</span></a></li>
      <li><a href="https://open.spotify.com/user/wanderingmatt/"><span class="icon icon-spotify">Spotify</span></a></li>
      <li><a href="https://github.com/WanderingMatt/"><span class="icon icon-github">GitHub</span></a></li>
      <li><a href="https://www.instagram.com/wanderingmatt/"><span class="icon icon-instagram">Instagram</span></a></li>
    </ul>
  </div>
  <p class="copyright"><strong>&copy;</strong> MMXXII</p>
</footer>