<footer>
  <div class="wrapper">
    <ul class="elsewhere-list">
      <li><a href="https://www.linkedin.com/in/matthewanderson"><object type="image/svg+xml" title="LinkedIn" data="data-url:/src/images/icons/linkedin.svg" role="img"></object></a></li>
      <li><a href="http://dribbble.com/wanderingmatt"><object type="image/svg+xml" title="Dribbble" data="data-url:/src/images/icons/dribbble.svg" role="img"></object></a></li>
      <li><a href="https://github.com/wanderingmatt"><object type="image/svg+xml" title="Dribbble" data="data-url:/src/images/icons/github.svg" role="img"></object></a></li>
      <li><a href="https://open.spotify.com/user/wanderingmatt"><object type="image/svg+xml" title="Spotify" data="data-url:/src/images/icons/spotify.svg" role="img"></object></a></li>
      <li><a href="https://www.threads.net/@wanderingmatt"><object type="image/svg+xml" title="Threads" data="data-url:/src/images/icons/threads.svg" role="img"></object></a></li>
      <li><a href="https://www.instagram.com/wanderingmatt"><object type="image/svg+xml" title="Instagram" data="data-url:/src/images/icons/instagram.svg" role="img"></object></a></li>
    </ul>
  </div>
  <p class="copyright"><strong>&copy;</strong> MMXXIV</p>
</footer>