<nav class="nav-site">
  <div class="wrapper">
    <a href="/" class="monogram">
      <picture>
        <source media="(prefers-color-scheme: dark)"
                srcset="data-url:/src/images/monogram-dark.svg">
        <img src="data-url:/src/images/monogram.svg"
             alt="Monogram">
      </picture>
      <h1>Matthew Anderson</h1>
    </a>
    <ul class="menu">
      <li><a href="/src/about/index.html" class="{{ about }}">About</a></li>
      <li><a href="/" class="{{ work }}">Selected Work</a></li>
    </ul>
  </div>
</nav>