<nav class="nav-projects">
  <div class="wrapper">
    <ul class="menu">
      <li>
        <a href="/" class="button previous">
        <span class="button-icon"><span class="icon icon-app-store" aria-hidden="true"></span></span>
        <span class="button-content">Previous</span>
        </a>
      </li>
      <li>
        <a href="/" class="button next">
          <span class="button-icon"><span class="icon icon-app-store" aria-hidden="true"></span></span>
          <span class="button-content">Previous</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
