<nav class="nav-projects">
  <div class="wrapper">
    <ul class="menu">
      <li>
        <a href="{{ previousUrl }}" class="button previous">
          <span class="button-icon"><span class="icon icon-chevron-left" aria-hidden="true"></span></span>
          <span class="button-content">{{ previousTitle }}</span>
        </a>
      </li>
      <li>
        <a href="{{ nextUrl }}" class="button next">
          <span class="button-icon"><span class="icon icon-chevron-right" aria-hidden="true"></span></span>
          <span class="button-content">{{ nextTitle }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
