<picture class="card-image">
  <source type="image/webp"
          srcset="/src/images/{{ project }}/{{ filename }}.png?as=webp&width=360 360w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=480 480w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=960 960w">
  <img src="/src/images/{{ project }}/{{ filename }}.png?width=480"
       srcset="/src/images/{{ project }}/{{ filename }}.png?width=360 360w,
              /src/images/{{ project }}/{{ filename }}.png?width=480 480w,
              /src/images/{{ project }}/{{ filename }}.png?width=960 960w"
       sizes="(min-width: 1366px) calc((100vw - 11rem) / 2.5),
              (min-width: 768px) calc((100vw - 3rem) / 1.5),
              calc(100vw - 3rem)"
       alt="{{ alt }}"
       loading="{{ loading }}">
</picture>