<picture class="card-image">
  <source type="image/webp"
          srcset="/src/images/{{ project }}/{{ filename }}.png?as=webp&width=375 375w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=750 750w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=1300 1300w">
  <img src="/src/images/{{ project }}/{{ filename }}.png?width=750"
       srcset="/src/images/{{ project }}/{{ filename }}.png?width=375 375w,
              /src/images/{{ project }}/{{ filename }}.png?width=750 750w,
              /src/images/{{ project }}/{{ filename }}.png?width=1300 1300w"
       sizes="(min-width: 1600px) calc((100vw - 18rem) / 4),
              (min-width: 1366px) calc((100vw - 16rem) / 3),
              (min-width: 768px) calc((100vw - 5rem) / 2),
              calc((100vw - 2rem) / 1.5)"
       alt="{{ alt }}"
       loading="{{ loading }}">
</picture>
