<picture>
  <source type="image/webp"
          sizes="(min-width: 1200px) 1200px, 100vw"
          srcset="/src/images/{{ project }}/{{ filename }}.png?as=webp&width=804 804w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=1200 1200w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=2400 2400w,">
  <img src="/src/images/{{ project }}/{{ filename }}.png?width=804"
       srcset="/src/images/{{ project }}/{{ filename }}.png?width=402 402w,
               /src/images/{{ project }}/{{ filename }}.png?width=804 804w,
               /src/images/{{ project }}/{{ filename }}.png?width=1200 1200w,
               /src/images/{{ project }}/{{ filename }}.png?width=2400 2400w"
       sizes="(min-width: 1200px) 1200px, 100vw"
       alt="{{ alt }}"
       loading="{{ loading }}">
</picture>
