<picture class="card-image">
  <source type="image/webp"
          srcset="/src/images/{{ project }}/{{ filename }}.png?as=webp&width=120 120w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=188 188w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=280 280w">
  <img src="/src/images/{{ project }}/{{ filename }}.png?width=188"
       srcset="/src/images/{{ project }}/{{ filename }}.png?width=120 120w,
              /src/images/{{ project }}/{{ filename }}.png?width=188 188w,
              /src/images/{{ project }}/{{ filename }}.png?width=280 280w"
       sizes="(min-width: 1366px) calc((100vw - 24rem) / 7),
              (min-width: 768px) calc((100vw - 8rem) / 5),
              calc((100vw - 5rem) / 3)"
       alt="{{ alt }}"
       loading="{{ loading }}">
</picture>