<picture class="card-image">
  <source type="image/webp"
          media="(min-width: 1366px)"
          srcset="/src/images/{{ project }}/{{ filename }}.png?as=webp&width=560 560w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=1120 1120w">
  <source type="image/webp"
          srcset="/src/images/{{ project }}/{{ filename }}.png?as=webp&width=280 280w,
                  /src/images/{{ project }}/{{ filename }}.png?as=webp&width=560 560w">
  <img src="/src/images/{{ project }}/{{ filename }}.png?width=560"
    srcset="/src/images/{{ project }}/{{ filename }}.png?width=280 280w,
            /src/images/{{ project }}/{{ filename }}.png?width=560 560w,
            /src/images/{{ project }}/{{ filename }}.png?width=1120 1120w"
    sizes="(min-width: 1366px) 560px, 280px"
    alt="{{ alt }}">
</picture>