<picture class="card-image">
  <source type="image/webp"
          media="(min-width: 430px)"
          srcset="/src/images/{{ project }}/{{ project }}-teaser.png?as=webp&width=800 800w,
                  /src/images/{{ project }}/{{ project }}-teaser.png?as=webp&width=1600 1600w,
                  /src/images/{{ project }}/{{ project }}-teaser.png?as=webp&width=3200 3200w">
  <source type="image/webp"
          srcset="/src/images/{{ project }}/{{ project }}-teaser.png?as=webp&width=400 400w,
          /src/images/{{ project }}/{{ project }}-teaser.png?as=webp&width=800 800w">
  <img src="/src/images/{{ project }}/{{ project }}-teaser.png?width=800"
    srcset="/src/images/{{ project }}/{{ project }}-teaser.png?width=400 400w,
            /src/images/{{ project }}/{{ project }}-teaser.png?width=800 800w,
            /src/images/{{ project }}/{{ project }}-teaser.png?width=1600 1600w,
            /src/images/{{ project }}/{{ project }}-teaser.png?width=3200 3200w"
    alt="{{ alt }}">
</picture>