.marshal {
  .ribbon {
    background: linear-gradient(to top right, #1F3A7E, #377E96, #62B096);
    h2 { top: (100%/3); }
  }
  .logo {
    .sidekick {
      .frame {
        padding: 4rem;
      }
    }
  }

  @include breakpoint($breakpoint-tablet) {
    .logo {
      .sidekick {
        .frame {
          padding: 6rem;
        }
      }
    }
  }

  @include breakpoint($breakpoint-widescreen) {
    .logo {
      .sidekick {
        .frame {
          padding: 8rem;
        }
      }
    }
  }
}
