.onehub {
  .ribbon {
    background: linear-gradient(to bottom right, #58B28D, #79B743);
    overflow: hidden;
    h2 {
      position: absolute;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  .tags { margin-bottom: 1rem; }

  .files {
    .gallery {
      li {
        flex: 0 1 25%;
        min-width: 160px;
      }
    }
  }

  .ios {
    .gallery {
      li {
        flex: 0 1 25%;
        min-width: 83.25px;
      }
    }
  }

  @include breakpoint($breakpoint-desktop) {
    .ribbon {
      height: 75vh;
    }
  }
}
