.onehub {
  .ribbon {
    background: linear-gradient(to bottom right, #58B28D, #79B743);
  }
  .tags { margin-bottom: 1rem; }
  .onehub-com {
    .hero {
      figcaption { margin-top: 0; }
    }
  }
}
