// Variables for media queries and breakpoints.
//
// No styleguide reference.

$breakpoint-legacy: max-width 374px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-widescreen: 1600px;

$breakpoint-retina: min-resolution 2dppx;
