// Variables for media queries and breakpoints.
//
// No styleguide reference.

$breakpoint-mobile-only: max-width 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-widescreen: 1601px;

$breakpoint-retina: min-resolution 2dppx;
