// Mixin for clearing a floated element using a nested pseudo selector. Should be used by @extending %clearfix[-breakpoint] placeholder whenever possible.

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
