// All of the colors used throughout the site.
//
// No styleguide reference.

$brand: #096;
$off-black: #0C0D0D;
$grey-1: #2B2E2D;
$grey-2: #4A4E4D;
$grey-3: #696F6D;
$grey-4: #89908E;
$grey-5: #A8B1AE;
$grey-6: #C7D1CE;
$off-white: #E6F2EE;
