$full: 1600px;
$quarter: 1200px;
$half: 800px;

@mixin layout-constraints($constraint: $full) {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $constraint;
  padding-left: 1rem;
  padding-right: 1rem;

  @include breakpoint($breakpoint-tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include breakpoint($breakpoint-desktop) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
