// Mixin that maintains the specificed aspect ratio for a given element.
//
// $aspect-ratio - The ratio that you would like to maintain, specified as a math formula. For example, 16/9.
//
// No styleguide reference.

@mixin maintain-aspect-ratio($aspect-ratio: 16/9) {
  position: relative;
  &::before {
    // content: "";
    // display: block;
    // padding-bottom: 100% / $aspect-ratio;
  }
  > :first-child {
    // object-fit: cover;
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
  }
  > :first-child { height: 100%; }
}