// Modular Scale
//
// 13px - .833rem @ 1rem
// 16px - 1rem @ 1.1875rem
// 19px - 1.2rem @ 1.3125rem
// 23px - 1.44rem @ 1.5625rem / 1.75rem
// 28px - 1.728rem @ 2rem
// 33px - 2.074rem @ 2.25rem
// 40px - 2.488rem @ ?
// 48px - 2.986rem @ 3.25rem
// 57px - 3.583rem @ 3.9375rem
// 69px - 4.3rem @ ?
// 83px - 5.16rem @ 5.6875rem
// 99px - 6.192rem @ 6.8125rem

::selection { background: fade_out(color('brand'), .8); }
html, body { font-size: 16px; }

body {
  color: color('neutral', 500);
  font-family: $default-font;
  line-height: 1.78125rem;
  text-rendering: optimizeSpeed;
  text-size-adjust: none;
  @include dark-mode {
    background: color('neutral', 900);
  }
  @include breakpoint($breakpoint-desktop) {
    font-size: 1.44rem;
    line-height: 2.1rem;
    text-rendering: auto;
  }
}

// Headings

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1, h2, h3 { font-weight: normal; }

h1 {
  font-family: $custom-font-regular;
  font-size: 1.44rem;
  @include breakpoint($breakpoint-tablet) { font-size: 2.074rem; }
  @include breakpoint($breakpoint-desktop) { font-size: 2.488rem; }
}

h2 {
  font-family: $custom-font-regular;
  font-size: 1.44rem;
  line-height: 1.875rem;
  strong {
    color: color('neutral', 900);
    font-weight: 400;
    @include dark-mode { color: $off-white; }
  }
  @include breakpoint($breakpoint-tablet) {
    font-family: $custom-font-light;
    font-size: 2.986rem;
    line-height: 3.9rem;
  }
  @include breakpoint($breakpoint-desktop) {
    font-size: 5.16rem;
    line-height: 6.825rem;
    text-align: center;
  }
  @include breakpoint($breakpoint-widescreen) {
    h2 {
      font-size: 6.192rem;
      line-height: 8.175rem;
    }
  }
}

h3 {
  color: $grey-1;
  font-family: $custom-font-regular;
  font-size: 1.2rem;
  line-height: 1.575;
  @include dark-mode { color: $grey-5; }
  @include breakpoint($breakpoint-tablet) {
    font-family: $custom-font-light;
    font-size: 2.074rem;
    line-height: 2.7rem;
  }
  @include breakpoint($breakpoint-desktop) {
    font-size: 2.986rem;
    line-height: 3.25rem;
    text-align: center;
  }
}

h4 {
  color: $grey-1;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-top: 2.5rem;
  position: relative;
  text-transform: uppercase;
  @include dark-mode {
    color: $off-white;
    font-weight: 500;
  }
  &::before {
    background: repeating-linear-gradient(-45deg, transparent, transparent 2px, $off-white 2px, $off-white 4px);
    content: '';
    display: block;
    height: .5rem;
    position: absolute;
    top: 0;
    width: 100%;
    @include dark-mode { background: repeating-linear-gradient(-45deg, transparent, transparent 2px, $grey-1 2px, $grey-1 4px); }
  }
  @include breakpoint($breakpoint-desktop) {
    padding-top: 5rem;
    &::before {
      background: repeating-linear-gradient(-45deg, transparent, transparent 4px, $off-white 2px, $off-white 6px);
      height: 1rem;
      @include dark-mode { background: repeating-linear-gradient(-45deg, transparent, transparent 4px, $grey-1 2px, $grey-1 6px); }
    }
  }
  @include breakpoint($breakpoint-widescreen) {
    h4 { padding-top: 7rem; }
  }
}

// Copy

p {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

figcaption {
  color: color('neutral', 300);
  font-family: $custom-font-regular;
  padding: .5rem 0;
  text-align: center;
  @include dark-mode { color: color('neutral', 700); }
  @include breakpoint($breakpoint-widescreen) {
    figcaption { padding: 1rem 0; }
  }
}

blockquote {
  margin: 2rem 0;
  p {
    color: color('brand');
    font-family: $custom-font-regular;
    font-size: 1.44rem;
    line-height: 1.875rem;
    margin: 0;
    position: relative;
    &:before {
      content: open-quote;
      position: absolute;
      transform: translateX(-.75rem);
    }
    &:after { content: close-quote; }
  }
  cite {
    display: inline-block;
    font-style: normal;
    margin-top: .5rem;
    &:before {
      color: color('neutral', 100);
      content: '— ';
      @include dark-mode { color: color('neutral', 700); }
    }
  }
  @include breakpoint($breakpoint-tablet) {
    p {
      font-size: 1.728rem;
      line-height: 2.4rem;
    }
  }
  @include breakpoint($breakpoint-desktop) {
    p {
      font-family: $custom-font-light;
      font-size: 1.728rem;
      line-height: 2.4rem;
      &:before, &:after {
        color: color('neutral', 100);
        font-size: 4.3rem;
        line-height: 1;
        @include dark-mode { color: color('neutral', 700); }
      }
      &:before { transform: translateX(-2rem) translateY(-.25rem); }
      &:after {
        position: absolute;
        transform: translateX(.25rem) translateY(-.25rem);
      }
    }
    cite { margin-top: 1rem; }
  }
  @include breakpoint($breakpoint-widescreen) {
    p {
      font-size: 2.074rem;
      line-height: 2.7rem;
    }
  }
}

// Links

a {
  color: $grey-1;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  &:active {
    position: relative;
    top: 1px;
  }
  @include breakpoint($breakpoint-desktop) {
    transition-duration: .2s;
    transition-property: border-color, color;
  }
}
