$default-font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$custom-font-regular: 'brandon-grotesque-regular', $default-font-family;
$custom-font-light: 'brandon-grotesque-light', $default-font-family;

// MODULAR SCALE
// 14px 16px 20px 23px 28px 32px 40px 45px 56px 64px 79px

$modularscale: (
  base: 14px 16px,
  ratio: $augmented-fourth,
);

html { font-size: ms(0); }
::selection { background: fade_out($brand, .8); }

body {
  color: $grey-4;
  font-family: $default-font-family;
  font-size: ms(1);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  text-size-adjust: none;
}

a {
  color: $grey-1;
  font-weight: 700;
  &:hover { color: $brand; }
  &:active {
    position: relative;
    top: 1px;
  }
}

h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 { font-size: ms(5); }

h2 {
  color: $grey-5;
  font-family: $custom-font-regular;
  font-size: ms(3);
  font-weight: 400;
  line-height: 1.25;
}

h3 {
  color: $grey-1;
  font-weight: 600;
  font-size: ms(1);
}

h4 {
  color: $grey-1;
  font-weight: 700;
  text-transform: uppercase;
}

p { margin-top: 0; }

blockquote {
  margin: 1rem 0;
  p {
    color: $brand;
    font-family: $custom-font-regular;
    font-size: ms(3);
    // font-style: italic;
    margin: 0;
    position: relative;
    &:before, &:after {
      // color: rgba(255, 255, 255, .2);
      // position: absolute;
    }
    &:before {
      // background: red;
      content: open-quote;
      // margin-left: -40px;
      top: 0;
      left: 0;
    }
    &:after {
      // bottom: -40px;
      content: close-quote;
      // margin-left: 10px;
    }
  }
  cite {
    font-size: ms(1);
    font-style: normal;
    &:before {
      color: $grey-5;
      content: '— ';
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  h2 {
    font-family: $custom-font-light;
    font-size: ms(7);
  }
  h3 {
    font-family: $custom-font-light;
    font-size: ms(5);
    font-weight: 400;
  }
  h4 { margin-bottom: 1rem; }
}

@include breakpoint($breakpoint-desktop) {
  body {
    font-size: ms(3);
    text-rendering: auto;
  }

  a {
    transition-duration: .2s;
    transition-property: border-color, color;
  }

  h2 { font-size: ms(10); }
  h3 { font-size: ms(8); }
  h4 { margin-bottom: 2rem; }

  blockquote {
    margin: 2rem 0;
    p {
      font-family: $custom-font-light;
      font-size: ms(5);
      &:before, &:after {
        color: $grey-6;
        font-size: ms(10);
        line-height: 1;
        position: absolute;
      }
      &:before { transform: translateX(-3rem) translateY(-.5rem); }
      &:after { transform: translateX(.5rem) translateY(-.5rem); }
    }
  }
}

@include breakpoint($breakpoint-widescreen) {
  h2 { font-size: ms(11); }
}
