.card {
  .card-action-area {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: block;
    text-decoration: none;
    &:hover {
      // background-color: $off-white;
    }
  }
  .card-image {
    height: 100%;
    position: relative;
    width: 100%;
    img {
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
    }
    &::after {
      border-bottom: 1px solid fade_out($off-black, .95);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .card-content {
    padding: 1rem;
    position: relative;
    h3 { color: $grey-1; }
    p {
      color: $grey-4;
      font-weight: initial;
    }
    .fab {
      position: absolute;
      right: 1rem;
      top: 0;
      transform: translateY(-50%);
    }
  }

  @include breakpoint($breakpoint-tablet) {
    .card-image {
      img {
        object-fit: cover;
        object-position: 50% 0;
      }
    }
    .card-content {
      @extend %hidden-tablet;
    }
  }
}