@use '../framework' as *;

.gallery {
  @extend %content-quarter;
  position: relative;
  .scroll-view {
    margin: -.25rem -1rem;
    overflow: hidden;
    overflow-x: scroll;
    padding: 1rem;
    text-align: center;
  }
  ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
  li {
    flex: 0 0 calc((100vw - 5rem) / 3);
    margin-right: 1rem;
    a { cursor: zoom-in; }
    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    &:last-child { margin-right: 0; }
  }
  figcaption {
    border-top: 1px solid color-token('neutral', 100);
    margin-top: .5rem;
    @include dark-mode { border-color: color-token('neutral', 800); }
  }
  &.tablet {
    li { flex: 0 0 calc((100vw - 2rem) / 1.5); }
  }
  &.desktop {
    li { flex: 0 0 calc((100vw - 3rem)); }
  }

  @include breakpoint($breakpoint-tablet) {
    .scroll-view {
      margin-left: -2rem;
      margin-right: -2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    li { flex: 0 0 calc((100vw - 8rem) / 5); }
    a {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      display: block;
      transition: transform .2s ease;
      &:hover {
        transform: perspective(1rem) scaleZ(1) translateZ(.025rem);
      }
    }
    &.tablet li { flex: 0 0 calc((100vw - 5rem) / 2); }
    &.desktop li { flex: 0 0 calc((100vw - 3rem) / 1.5); }
  }

  @include breakpoint($breakpoint-desktop) {
    padding: 0 6rem;
    max-width: none;
    overflow: hidden;
    position: relative;
    width: auto;
    .scroll-view {
      margin: -.5rem -6rem;
      padding: 1.5rem 6rem;
    }
    li {
      flex: 0 0 calc((100vw - 24rem) / 7);
      margin: 0;
      margin-right: 2rem;
    }
    figcaption { margin-top: 1rem; }
    &.tablet li { flex: 0 0 calc((100vw - 16rem) / 3); }
    &.desktop li { flex: 0 0 calc((100vw - 11rem) / 2.5); }
  }
}
