.icon {
  display: inline-block;
  text-indent: -9999px;
}

.icon-chevron-right {
  background: url('../images/chevron-right-inverted.svg') no-repeat 50%;
  background-size: contain;
  height: 16px;
  width: 16px;
}