.projects {
  @include layout-constraints;
  margin-bottom: 2rem;
  margin-top: 2rem;
  .projects-list {
    display: grid;
    grid-gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .card {
    &.kenny-meyers, &.side-projects {
      .card-image {
        img { object-position: 50% 50%; }
      }
    }
    &.marshal {
      .card-image {
        img { object-position: 100% 100%; }
      }
    }
    &.proof {
      .card-image {
        img { object-position: 0 0; }
      }
    }
    &.r8r {
      .card-image {
        img { object-position: 100% 0; }
      }
    }
  }

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 4rem;
    margin-top: 4rem;
    .projects-list {
      grid-auto-flow: dense;
      grid-auto-rows: minmax(20rem, .375fr);
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-template-rows: 1fr;
      .card-action-area {
        display: flex;
        height: 100%;
        transition: transform .2s;
        &:hover {
          transform: perspective(1rem) scaleZ(1) translateZ(.025rem);
          .card-content { opacity: .975; }
        }
      }
      > li {
        &.highlight { grid-area: 1 / 1 / 1 / -1; }
        &.tall { grid-row-end: span 2; }
      }
    }
  }

  @include breakpoint($breakpoint-desktop) {
    margin-bottom: 5rem;
    margin-top: 5rem;
    .projects-list {
      grid-template-rows: none;
      > li {
        &.highlight {
          grid-column: span 3;
          grid-row: span 2;
        }
      }
    }
  }

  @include breakpoint($breakpoint-widescreen) {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}
