.projects {
  @include layout-constraints;
  .projects-list {
    display: grid;
    grid-gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .card {
    &.iowa-actors, &.r8r {
      .card-image {
        img { object-position: 100% 0; }
      }
    }
  }
  @include breakpoint($breakpoint-tablet) {
    .projects-list {
      grid-auto-flow: dense;
      grid-auto-rows: minmax(14rem, .275fr);
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-template-rows: 1fr;
      .card {
        &.carlos-lamas {
          // .card-content { background: #4C489E; }
        }
        &.chips-and-bits {
          // .card-content { background: #096; }
        }
        &.marshal {
          // .card-content { background-image: linear-gradient(to top right, fade_out(#1F3A7E, .4), fade_out(#377E96, .4), fade_out(#62B096, .4)); }
        }
        &.onehub {
          // .card-content { background-image: linear-gradient(to bottom right, fade_out(#58B28D, .4), fade_out(#79B743, .4)); }
        }
        &.proof {
          // .card-content { background-image: linear-gradient(to bottom right, fade_out(#B9AF64, .4), fade_out(#B9AF64, .4)); }
        }
        &.r8r {
          // .card-content { background-image: linear-gradient(to bottom right, fade_out(#F05436, .4), fade_out(#DD2476, .4) 56.25%); }
        }
      }
      .card-action-area {
        display: flex;
        height: 100%;
        transition: transform .2s;
        .card-image {
          overflow: hidden;
          img { transition: filter .2s; }
        }
        // .card-content {
        //   h3 { color: $grey-1; }
        // }
        &:hover {
          transform: perspective(1rem) scaleZ(1) translateZ(.025rem);
          .card-image {
            img { filter: blur(1px) grayscale(1); }
          }
          .card-content { opacity: 1; }
        }
      }
      > li {
        &.showcase { grid-area: 1 / 1 / 1 / -1; }
        &.tall { grid-row: span 2; }
      }
    }
  }

  @include breakpoint($breakpoint-desktop) {
    .projects-list {
      grid-auto-rows: minmax(16rem, 1fr);
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      > li {
        &.highlight {
          grid-column: span 3 / -1;
          grid-row: span 2;
        }
        &.feature {
          grid-column: span 2;
          grid-row: span 2;
        }
      }
    }
  }

  @include breakpoint($breakpoint-widescreen) {
    .projects-list {
      grid-auto-rows: minmax(20rem, .275fr);
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
      grid-template-rows: 1fr;
    }
  }
}
