.ribbon {
  display: flex;
  overflow: hidden;
  padding-top: 2rem;
  position: relative;
  .content {
    @extend %content;
    margin: 0 auto;
  }
  h2 {
    backdrop-filter: blur(1rem);
    background: rgb(56, 56, 56), rgba(179, 179, 179, .82);
    color: $off-black;
    right: 0;
    mix-blend-mode: screen;
    padding: 1rem;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    &.inverted {
      background: fade_out($off-black, .02);
      color: #fff;
      mix-blend-mode: multiply;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  &::after {
    background: $off-black;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    mix-blend-mode: difference;
    opacity: .5;
    position: absolute;
    width: 100%;
  }
  @include breakpoint($breakpoint-tablet) { padding-top: 3rem; }
  @include breakpoint($breakpoint-desktop) {
    padding-top: 5rem;
    h2 { padding: 1rem 3rem 1rem 2rem; }
  }
  @include breakpoint($breakpoint-widescreen) { padding-top: 8rem; }
}
