.tags {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: -.5rem;
  padding: 0;
  .tag {
    background-color: fade_out($off-white, .5);
    border-radius: .25rem;
    color: $grey-4;
    display: inline-block;
    font-size: ms(-1);
    font-weight: 600;
    margin: 0 .25rem .25rem 0;
    padding: .25rem .5rem;
  }

  @include breakpoint($breakpoint-desktop) {
    .tag {
      font-size: ms(0);
      font-weight: 500;
    }
  }
}

.tags-stylized {
  @extend .tags;
  display: flex;
  margin: 0 -.5rem;
  .tag {
    background: none;
    border: 2px dashed fade_out($brand, .8);
    color: $brand;
    flex: 0 1 percentage(1/3);
    font-size: ms(0);
    margin: 0 .5rem;
    padding: .5rem 1rem;
    text-align: center;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 2rem;
    margin-top: 2rem;
    .tag {
      font-family: $custom-font-regular;
      font-size: ms(2);
      padding: 1rem;
    }
  }

  @include breakpoint($breakpoint-desktop) {
    .tag { font-size: ms(3); }
  }

  @include breakpoint($breakpoint-widescreen) {
    .tag { padding: 1.5rem; }
  }
}