// Variables for colors, sizes and mixins.

// COLORS

$darkest-grey: #393637;
$dark-grey: #605D5E;
$medium-grey: #868485;
$light-grey: #ADABAB;
$lightest-grey: #D3D2D2;
$off-white: #E9E9E9;
$primary: #096;

// BREAKPOINTS

$retina: min-resolution 2dppx;
$mobile-only: max-width 767px;
$tablet: 768px;
$desktop: 1200px;
$widescreen: 1601px;
