@import 'node_modules/normalize.css/normalize.css';
@import 'node_modules/modularscale-sass/stylesheets/modularscale';
@import 'node_modules/ritmo/_ritmo';
@import 'node_modules/ritmo/compass-aliases';

// @import 'susyone';
@import 'framework/defaults';
@import 'framework/fonts';
@import 'framework/typography';
// @import 'vendor/flexslider';
@import 'vendor/slick';
// @import 'vendor/slick-theme';
@import 'regions/layout';
@import 'regions/menu';
@import 'regions/article';
@import 'regions/aside';

#back-to-top { display: none; }

// .loading {
//   // @include background(url('../images/monogram.png') no-repeat 50%, linear-gradient(135deg, $off-white 25%, white 25%, white 50%, $off-white 50%, $off-white 75%, white 75%));
//   // @include background-size(auto 50px, $grid-padding $grid-padding);
//   min-height: 238px;
// }

.slides {
  background: linear-gradient(135deg, $off-white 25%, white 25%, white 50%, $off-white 50%, $off-white 75%, white 75%);
  background-size: $grid-padding $grid-padding;

  list-style-typ: none;
  margin: 0 0 - $grid-padding 0 0 - $grid-padding;
  padding: 0;
  img { width: 100%; display: block; }
}


@function calculate-position($spot) {
  $number-of-services: 8;
  @return (100% / ($number-of-services - 1)) * ($spot - 1);
}

@mixin sprite-position($spot) {
  background-position: 0 calculate-position($spot);
}

footer {
  // @include bleed;
  clear: both;
  text-align: center;
}

.elsewhere {
  background-color: $off-white;
  // @include bleed;
  // padding: $grid-padding * 2 $grid-padding;
  // ul { @include clearfix; }
  // li { @include isolate-grid(1, 8); }
  a {
    background-image: url('../images/icons.png');
    background-size: 100% auto;
    border-radius: 100px;
    display: block;
    height: 0; // Responsive box
    opacity: .2;
    padding-bottom: 100%;
    position: relative;
    text-indent: -9999px;
    width: 100%;
    &:hover { opacity: .9; }
    // &.email { @include sprite-position(1); }
    // &.twitter { @include sprite-position(2); }
    // &.blog { @include sprite-position(3); }
    // &.dribbble { @include sprite-position(4); }
    // &.github { @include sprite-position(5); }
    // &.rdio { @include sprite-position(6); }
    // &.gimmebar { @include sprite-position(7); }
    // &.foursquare { @include sprite-position(8); }
  }
}

.copyright {
  @include adjust-font-size-to(13px);
  @include adjust-leading-to(2);
  color: $light-grey;
}

.button {
  background-color: rgba(0, 0, 0, .05);
  @include adjust-font-size-to(13px);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  color: #aaa;
  display: inline-block;
  font-weight: 700;
  padding: 4px 12px;
  text-shadow: 0 1px #fff;
  // @include transition(none);
  &:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #777;
  }
  &:active {
    border-color: rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  }
}

// TABLET

@media (min-width: 767px) {
  article {
    margin: 0;
    @include trailer(2);
    p {
      @include adjust-font-size-to($base-font-size * 2, 1.5);
      font-family: $custom-font-light, $default-font;
    }
  }
  section {
    // @include span-columns(8 omega);
    @include trailer(2);
  }
  .loading { min-height: 337px; }
  .flexslider {
    // @include span-columns(5);
    width: columns(5) + (columns(5) / 20);
  }
  aside {
    padding: 0;
    // @include span-columns(3 omega, 8);
    h1 {
      @include adjust-leading-to(2);
      color: $dark-grey;
    }
  }
  footer {
    text-align: left;
    .elsewhere {
      ul { width: columns(5) - (columns(5) / 10); }
    }
  }
}

// DESKTOP

@media (min-width: 1200px) {
  body { text-rendering: optimizeLegibility; }
  .menu {
    // bottom: $grid-padding;
    // @include span-columns(2);
    position: fixed;
    top: 0;
    .work {
      display: block;
      background: none;
      box-shadow: none;
      margin: 0;
      padding: 0;
    }
  }
  #back-to-top.available { display: inline-block; }
  #back-to-top {
    bottom: 0;
    position: absolute;
  }
  article {
    background-color: $off-white;
    @include padding-leader(6);
    // @include push(2);
    // @include span-columns(7);
    text-shadow: 0 1px rgba(255, 255, 255, .6);
    p {
      @include adjust-font-size-to($base-font-size * 1.35, 1.5);
      padding: 0 $grid-padding;
      @include trailer;
    }
  }
  // section { @include span-columns(10 omega); }
  .loading { min-height: 410px; }
  .flexslider {
    margin-left: auto;
    // margin-bottom: $grid-padding;
    // @include span-columns(7, 10);
  }
  aside {
    // @include span-columns(3 omega, 10);
    p { @include trailer; }
    .button { display: inline-block; }
  }
  footer {
    background: $off-white;
    // @include clearfix;
    .elsewhere {
      // padding: $grid-padding 0;
      // @include push(2);
      // @include span-columns(7);
      ul { width: 400px; }
    }
    .copyright {
      // padding: $grid-padding 0;
      // @include pull(9);
      // @include span-columns(2);
    }
  }
  article p { @include adjust-font-size-to($base-font-size * 1.7, 1.5); }
  .loading { min-height: 519px; }
}

@media (min-width: 1601px) {
  .wrapper { max-width: 1600px; }
  // .menu { @include span-columns(2); }
  article {
    // @include push(2);
    // @include span-columns(11);
    p { @include adjust-font-size-to($base-font-size * 2.25, 2); }
  }
  // section { @include span-columns(14 omega); }
  .loading { min-height: 700px; }
  // .flexslider { @include span-columns(11, 14); }
  // aside { @include span-columns(3 omega, 14); }
  footer {
    .elsewhere {
      // @include push(2);
      // @include span-columns(11);
    }
    // .copyright { @include pull(13); }
  }
}