@import 'node_modules/normalize.css/normalize';
@import 'node_modules/modularscale-sass/stylesheets/modularscale';
@import 'node_modules/ritmo/ritmo';
@import 'node_modules/ritmo/compass-aliases';
@import 'node_modules/breakpoint-sass/stylesheets/breakpoint';

@import 'defaults';
@import 'fonts/brandon-grotesque-light';
@import 'fonts/brandon-grotesque-regular';
@import 'framework/*';
@import 'vendor/*';
@import 'regions/*';
@import 'modules/*';

// DESKTOP

@include breakpoint($desktop) {
  aside {
    .button { display: inline-block; }
  }
  footer {
    background: $off-white;
    // @include clearfix;
    .elsewhere {
      // padding: $grid-padding 0;
      // @include push(2);
      // @include span-columns(7);
      ul { width: 400px; }
    }
    .copyright {
      // padding: $grid-padding 0;
      // @include pull(9);
      // @include span-columns(2);
    }
  }
}

@include breakpoint($widescreen) {
  // article {
  //   p { @include adjust-font-size-to($base-font-size * 2.25, 2); }
  // }
  footer {
    .elsewhere {
      // @include push(2);
      // @include span-columns(11);
    }
    // .copyright { @include pull(13); }
  }
}
