<div class="wrapper">
  <nav class="menu">
    <h1>Matthew Anderson</h1>
    <h2>About</h2>
    <h2>Work</h2>
    <ul>
      <li><a href="#onehub">Onehub</a></li>
      <li><a href="#carlos-lamas">Carlos Lamas</a></li>
      <li><a href="#chips-&-bits">Chips & Bits</a></li>
      <li><a href="#kenny-meyers">Kenny Meyers</a></li>
      <li><a href="#ruby-committers">Ruby Committers</a></li>
      <li><a href="#likewise">Likewise</a></li>
      <li><a href="#iowa-actors">Iowa Actors</a></li>
      <li><a href="#salesedge">SalesEdge</a></li>
      <li><a href="#side-projects">Side Projects</a></li>
    </ul>
  </nav>

  <section id="onehub">
    <aside>
      <h1>Onehub</h1>
      <p><%= lorem.paragraph %></p>
    </aside>
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/slides/bridge.jpg"></li>
        <li><img src="images/slides/sea.jpg"></li>
        <li><img src="images/slides/road.jpg"></li>
        <li><img src="images/slides/shelter.jpg"></li>
      </ul>
    </div>
  </section>

  <section id="side-projects">
    <aside>
      <h1>Side Projects</h1>
      <p><%= lorem.paragraph %></p>
      <ul>
        <li>Leigh's Favorite Band</li>
        <li>Quippopotamus</li>
      </ul>
    </aside>
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/slides/bridge.jpg"></li>
        <li><img src="images/slides/sea.jpg"></li>
        <li><img src="images/slides/road.jpg"></li>
        <li><img src="images/slides/shelter.jpg"></li>
      </ul>
    </div>
  </section>
</div>