<div class="wrapper">
  <nav class="menu">
    <a href="#" class="monogram"><h1>Matthew Anderson</h1></a>
    <ul class="work">
      <li><a href="#onehub">Onehub</a></li>
      <li><a href="#onehub-ios">Onehub for iOS</a></li>
      <li><a href="#onehub-com">Onehub.com</a></li>
      <li><a href="#carlos-lamas">Carlos Lamas</a></li>
      <li><a href="#kenny-meyers">Kenny Meyers</a></li>
      <li><a href="#chips-and-bits">Chips &amp; Bits</a></li>
      <li><a href="#iowa-actors">Iowa Actors</a></li>
    </ul>
    <a href="#" id="back-to-top" class="button">Back to Top</a>
  </nav>

  <article id="about">
    <p><strong>Matthew Anderson</strong> is a <a href="https://onehub.com">product designer</a>, <a href="http://chips-and-bits.com">podcaster</a>, and <a href="http://www.nhl.com/">Canadian expat</a>. He designs, codes, and ships useful things.</p>
  </article>

  <section id="onehub">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/onehub/files-thumbnails.jpg"></li>
        <li><img src="images/onehub/files-first-run.jpg"></li>
        <li><img src="images/onehub/files-drop.jpg"></li>
        <li><img src="images/onehub/files-uploading.jpg"></li>
        <li><img src="images/onehub/files-move-copy.jpg"></li>
        <li><img src="images/onehub/files-list.jpg"></li>
        <li><img src="images/onehub/preview.jpg"></li>
        <li><img src="images/onehub/pricing.jpg"></li>
        <li><img src="images/onehub/styleguide.jpg"></li>
        <li><img src="images/onehub/sign-in.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Onehub</h1>
      <p>Design and front-end development of Onehub's secure file sharing service.</p>
      <a href="https://onehub.com" class="button">Visit Site</a>
    </aside>
  </section>
<!--
  <section id="onehub-ios">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/onehub/iphone-launch.jpg"></li>
        <li><img src="images/onehub/iphone-files-list.jpg"></li>
        <li><img src="images/onehub/iphone-files-thumbnails.jpg"></li>
        <li><img src="images/onehub/iphone-preview.jpg"></li>
        <li><img src="images/onehub/ipad-launch.jpg"></li>
        <li><img src="images/onehub/ipad-files-list.jpg"></li>
        <li><img src="images/onehub/ipad-files-thumbnails.jpg"></li>
        <li><img src="images/onehub/ipad-preview.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Onehub for iOS</h1>
      <p>Design of a universal native version of Onehub for both iPhone and iPad.</p>
      <a href="http://itunes.apple.com/app/onehub/id476746131" class="button">Download the App</a>
    </aside>
  </section>

  <section id="onehub-com">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/onehub/com-home.jpg"></li>
        <li><img src="images/onehub/com-features-top.jpg"></li>
        <li><img src="images/onehub/com-features-share.jpg"></li>
        <li><img src="images/onehub/com-features-previews.jpg"></li>
        <li><img src="images/onehub/com-features-apps.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Onehub.com</h1>
      <p>Design and development of a marketing site for Onehub's secure file sharing service.</p>
      <a href="https://onehub.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="carlos-lamas">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/carlos-lamas/iphone-home.jpg"></li>
        <li><img src="images/carlos-lamas/iphone-player.jpg"></li>
        <li><img src="images/carlos-lamas/home.jpg"></li>
        <li><img src="images/carlos-lamas/player.jpg"></li>
        <li><img src="images/carlos-lamas/info.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Carlos Lamas</h1>
      <p>Branding, design, and development of a responsive portfolio for freelance video editor Carlos Lamas.</p>
      <a href="http://carloslamas.tv" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="kenny-meyers">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/kenny-meyers/home-top.jpg"></li>
        <li><img src="images/kenny-meyers/home-bottom.jpg"></li>
        <li><img src="images/kenny-meyers/form.jpg"></li>
        <li><img src="images/kenny-meyers/logos.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Kenny Meyers</h1>
      <p>Branding, design, and front-end development of a portfolio for freelance developer Kenny Meyers.</p>
      <a href="http://kennymeyers.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="chips-and-bits">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/chips-and-bits/album-art.jpg"></li>
        <li><img src="images/chips-and-bits/home.jpg"></li>
        <li><img src="images/chips-and-bits/marks.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Chips &amp; Bits</h1>
      <p>Branding, design, and front-end development for a humorous video game review podcast and website.</p>
      <a href="http://chips-and-bits.com" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="iowa-actors">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/iowa-actors/home.jpg"></li>
        <li><img src="images/iowa-actors/bradley-anderson.jpg"></li>
        <li><img src="images/iowa-actors/rebekah-stein.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Iowa Actors</h1>
      <p>Design and development of an online student showcase and event site for a group of fine arts graduates from the <span>University of Iowa</span>.</p>
      <a href="http://iowaactors.com/" class="button">Visit Site</a>
    </aside>
  </section>

  <section id="side-projects">
    <div class="flexslider loading">
      <ul class="slides">
        <li><img src="images/side-projects/ruby-committers.jpg"></li>
        <li><img src="images/side-projects/leighs-favorite-band.jpg"></li>
        <li><img src="images/side-projects/matt-loves-linz.jpg"></li>
        <li><img src="images/side-projects/quippopotamus.jpg"></li>
      </ul>
    </div>
    <aside>
      <h1>Side Projects</h1>
      <p>A selection of projects I've done on the side to sharpen my skills, help friends, and have a little fun.</p>
    </aside>
  </section>
-->
  <footer>
    <ul class="elsewhere">
      <li><a href="#" class="email">Email</a></li>
      <li><a href="#" class="twitter">Twitter</a></li>
      <li><a href="#" class="blog">Blog</a></li>
      <li><a href="#" class="dribbble">Dribbble</a></li>
      <li><a href="#" class="github">Github</a></li>
      <li><a href="#" class="rdio">Rdio</a></li>
      <li><a href="#" class="gimmebar">Gimmebar</a></li>
      <li><a href="#" class="foursquare">Foursquare</a></li>
    </ul>
    </ul>
    <p class="copyright"><strong>&copy;</strong> MMXIII</p>
  </footer>
</div>