<div class="wrapper">
  <nav class="menu">
    <h1>Matthew Anderson</h1>
    <ul>
      <li><a href="#onehub">Onehub</a></li>
      <li><a href="#carlos-lamas">Carlos Lamas</a></li>
      <li><a href="#kenny-meyers">Kenny Meyers</a></li>
    </ul>
  </nav>

<section id="onehub">
  <aside>
    <h1>Onehub</h1>
    <p><%= lorem.paragraph %></p>
  </aside>
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="images/slides/tree.jpg" />
      </li>
      <li>
        <img src="images/slides/leaf.jpg" />
      </li>
      <li>
        <img src="images/slides/road.jpg" />
      </li>
      <li>
        <img src="images/slides/sea.jpg" />
      </li>
    </ul>
  </div>
</section>

<!--
  <section id="onehub">
    <aside>
      <h1>Onehub</h1>
      <p><%= lorem.paragraph %></p>
    </aside>
    <div class="slides camera_wrap">
      <div data-thumb="images/slides/thumbs/bridge.jpg" data-src="images/slides/tree.jpg"></div>
      <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg">
        <div class="camera_caption fadeFromBottom">It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em></div>
      </div>
      <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg">
        <div class="camera_caption fadeFromBottom"><em>It's completely free</em> (even if a donation is appreciated)</div>
      </div>
      <div data-thumb="images/slides/thumbs/sea.jpg" data-src="images/slides/sea.jpg">
        <div class="camera_caption fadeFromBottom">Camera slideshow provides many options <em>to customize your project</em> as more as possible</div>
      </div>
      <div data-thumb="images/slides/thumbs/shelter.jpg" data-src="images/slides/shelter.jpg">
        <div class="camera_caption fadeFromBottom">It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)</div>
      </div>
    </div>
  </section>

  <section id="carlos-lamas">
    <aside>
      <h1>Carlos Lamas</h1>
      <p><%= lorem.paragraph %></p>
    </aside>
    <div class="slides camera_wrap">
      <div data-thumb="images/slides/thumbs/bridge.jpg" data-src="images/slides/tree.jpg">
        <div class="camera_caption fadeFromBottom">Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em></div>
      </div>
      <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg">
        <div class="camera_caption fadeFromBottom">It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em></div>
      </div>
      <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg">
        <div class="camera_caption fadeFromBottom"><em>It's completely free</em> (even if a donation is appreciated)</div>
      </div>
      <div data-thumb="images/slides/thumbs/sea.jpg" data-src="images/slides/sea.jpg">
        <div class="camera_caption fadeFromBottom">Camera slideshow provides many options <em>to customize your project</em> as more as possible</div>
      </div>
      <div data-thumb="images/slides/thumbs/shelter.jpg" data-src="images/slides/shelter.jpg">
        <div class="camera_caption fadeFromBottom">It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)</div>
      </div>
    </div>
  </section>

  <section id="kenny-meyers">
    <aside>
      <h1>Kenny Meyers</h1>
      <p><%= lorem.paragraph %></p>
    </aside>
    <div class="slides camera_wrap">
      <div data-thumb="images/slides/thumbs/bridge.jpg" data-src="images/slides/tree.jpg">
        <div class="camera_caption fadeFromBottom">Camera is a responsive/adaptive slideshow. <em>Try to resize the browser window</em></div>
      </div>
      <div data-thumb="images/slides/thumbs/leaf.jpg" data-src="images/slides/leaf.jpg">
        <div class="camera_caption fadeFromBottom">It uses a light version of jQuery mobile, <em>navigate the slides by swiping with your fingers</em></div>
      </div>
      <div data-thumb="images/slides/thumbs/road.jpg" data-src="images/slides/road.jpg">
        <div class="camera_caption fadeFromBottom"><em>It's completely free</em> (even if a donation is appreciated)</div>
      </div>
      <div data-thumb="images/slides/thumbs/sea.jpg" data-src="images/slides/sea.jpg">
        <div class="camera_caption fadeFromBottom">Camera slideshow provides many options <em>to customize your project</em> as more as possible</div>
      </div>
      <div data-thumb="images/slides/thumbs/shelter.jpg" data-src="images/slides/shelter.jpg">
        <div class="camera_caption fadeFromBottom">It supports captions, HTML elements and videos and <em>it's validated in HTML5</em> (<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pixedelic.com%2Fplugins%2Fcamera%2F&amp;charset=%28detect+automatically%29&amp;doctype=Inline&amp;group=0&amp;user-agent=W3C_Validator%2F1.2" target="_blank">have a look</a>)</div>
      </div>
    </div>
  </section>
-->
</div>