<div class="wrapper">
  <nav class="menu">
    <h1 class="monogram"><a href="#">Matthew Anderson</a></h1>
    <ul class="work">
      <li><a href="#onehub">Onehub</a></li>
      <li><a href="#carlos-lamas">Carlos Lamas</a></li>
      <li><a href="#chips-&amp;-bits">Chips &amp; Bits</a></li>
      <li><a href="#kenny-meyers">Kenny Meyers</a></li>
      <li><a href="#ruby-committers">Ruby Committers</a></li>
      <li><a href="#likewise">Likewise</a></li>
      <li><a href="#iowa-actors">Iowa Actors</a></li>
      <li><a href="#salesedge">SalesEdge</a></li>
      <li><a href="#side-projects">Side Projects</a></li>
    </ul>
  </nav>

  <section id="about">
    <article>
      <p><strong>Matthew Anderson</strong> is an interactive designer, video game enthusiast, music lover, and Canadian expatriate living in Seattle. He loves watching how design decisions translate in to user experience and creates in the browser whenever possible.</p>
    </article>
    <aside>
    </aside>
  </section>

  <section id="onehub">
    <aside>
      <h1>Onehub</h1>
      <p><%= lorem.paragraph %></p>
    </aside>
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/slides/bridge.jpg"></li>
        <li><img src="images/slides/sea.jpg"></li>
        <li><img src="images/slides/road.jpg"></li>
        <li><img src="images/slides/shelter.jpg"></li>
      </ul>
    </div>
  </section>

  <section id="side-projects">
    <aside>
      <h1>Side Projects</h1>
      <p><%= lorem.paragraph %></p>
      <ul>
        <li>Leigh's Favorite Band</li>
        <li>Quippopotamus</li>
      </ul>
    </aside>
    <div class="flexslider">
      <ul class="slides">
        <li><img src="images/slides/bridge.jpg"></li>
        <li><img src="images/slides/sea.jpg"></li>
        <li><img src="images/slides/road.jpg"></li>
        <li><img src="images/slides/shelter.jpg"></li>
      </ul>
    </div>
  </section>
</div>
<footer>2012</footer>